:root {
  --color-black: #413F3F;
  --color-white: #FFFFFF;
  --color-gray: #F4F4F4;
  --color-gray-dark: #C4C4C4;
  --color-primary: #B04AFD;

  /* Fonts */
  --font-family-default: 'Inter', sans-serif;
}
